<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
      </style>
      <script type="text/javascript">
        var i = 0;
    function change() {
    var doc = document.getElementById("background");
    var color = ["#7CB243", "#F6DC03", "#1987C9", "#C3B1E1"];
    doc.style.backgroundColor = color[i];
    i = (i + 1) % color.length;
    }
    setInterval(change, 5000);
      </script>
</head>
<style>
    body
    {font-family: 'VT323', monospace;
background-color: #C3B1E1;
text-align: center;
margin:auto;}

.extra-order { 
  height: 200px;
  position: relative;
}

.signup {
  position: relative;
  top: 230%; 
}

.left{
    position: relative;
    left:10%;
}

a img:last-child {
  display: none;  
}
a:hover img:last-child {
  display: block;  
}
a:hover img:first-child {
  display: none;  
}

</style>
<body id="background">
    <audio id="player" autoplay loop>
        <source src="../static/img/pokemonbattle.mp3onlineaudioconvert.com.ogg" type="audio/ogg">
    </audio>
    
    
    <h1 style="font-size: 100px;">Welcome!</h1>
    <h1> This is a website focused on making sure the right people have the right opportunities, and for now, our focus is on Northwestern's Brazilian community. If that's not you, that's okay! But you won't be able to access purplerecruit just yet. </h1>
    <div class="container-fluid extra-order">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2 left cat">
                <a>
                    <img src="../static/img/pixilart-frames/pixil-frame-0.png" width="200" height="auto"/>
                    <img src="../static/img/pixilart-frames/pixil-frame-1.png" width="200" height="auto"/>
                </a>
            </div>
            <div class="col-sm-8">
                <div class="d-grid gap-2 col-8 mx-auto">
                    <button class="btn btn-light btn-lg signup" type="button">Button</button>
                  </div>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
</body>
</html>